{% extends 'app_web/layout/page_layout.html' %}

{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col">
        Python Flask Version of Spring Petclinic with SQLAlchemy, Celery et al.
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="tw-box">
          <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden }}
            <div class="mb-3">
              {{ form.first_name.label(class_="form-label") }}
              {{ form.first_name(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.last_name.label(class_="form-label") }}
              {{ form.last_name(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.street_address.label(class_="form-label") }}
              {{ form.street_address(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.zip_code.label(class_="form-label") }}
              {{ form.zip_code(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.city.label(class_="form-label") }}
              {{ form.city(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.telephone.label(class_="form-label") }}
              {{ form.telephone(class_="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.email.label(class_="form-label") }}
              {{ form.email(class_="form-control") }}
            </div>
            <a href="{{ url_for('url_owner_index', page=1) }}"
               class="btn btn-primary">Cancel</a>
            {{ form.submit(class_="btn btn-primary") }}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
