<div class="table-responsive">
  <table class="table table-hover table-striped table-dark">
    <thead class="table-secondary">
    <tr>
      <th scope="col">name</th>
      <th scope="col">date_of_birth</th>
      <th scope="col">pettype</th>
      <th scope="col">Visits</th>
    </tr>
    </thead>
    <tbody>
    {% for p in pet_list %}
      {% if pet_id!=p.id %}
      <tr>
        <td>
          <a href="{{ url_for('url_owner_pet_change', owner_id=owner_id, pet_id=p.id) }}">
          {{ p.name }}
          </a>
        </td>
        <td>{{ p.date_of_birth }}</td>
        <td>{{ p.pettype }}</td>
        <td>
           <a href="{{ url_for('url_owner_pet_visit_add', owner_id=owner_id, pet_id=p.id) }}"
               class="btn btn-primary"><i class="fas fa-plus-square"></i>
             Add new Visit
           </a>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
    <tfoot class="table-secondary">
    <tr>
      <th scope="col">name</th>
      <th scope="col">date_of_birth</th>
      <th scope="col">pettype</th>
      <th scope="col">Visits</th>
    </tr>
    </tfoot>
  </table>
</div>
