{% extends 'app_web/layout/page_layout.html' %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">{{ page_info.title }}</h1>
                    <p class="lead">{{ page_info.subtitle }}</p>
                    <hr class="my-4">
                    <p>
                      Python Flask Version of Spring Petclinic
                      with SQLAlchemy, Celery et al.
                    </p>
                    <p>
                      <form method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        {{ form.first_name }}
                        {{ form.last_name }}
                        {{ form.street_address }}
                        {{ form.zip_code }}
                        {{ form.city }}
                        {{ form.telephone }}
                        {{ form.email }}
                        {{ form.submit }}
                      </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
