wheel
build
pip-tools
pre-commit
tox
toml
pipenv>=2022.1.8
virtualenv
pytoolbox
python-dotenv
Flask
urllib3>=1.26.5
Pillow>=9.0.1
pip-audit
watchdog
#
Pallets-Sphinx-Themes
Sphinx
myst-parser
babel>=2.9.1
#sqlalchemy-sphinx
#sphinx-issues
#sphinx-tabs
#sphinx-sqlalchemy
#sphinxcontrib-log-cabinet
#sphinxcontrib-images
#sphinxcontrib-srclinks
#sphinxcontrib-gravizo
#sphinxcontrib-needs
#sphinxcontrib-plantuml
#sphinxcontrib-sqltable
#sphinxcontrib-websupport
#sphinxcontrib-sadisplay
#sphinxcontrib.sqltable
#sqla2uml
#
pytest
pytest-runner
pytest-flask
pytest-flask-sqlalchemy
#
mypy
types-contextvars
types-dataclasses
types-setuptools
cryptography
#
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
Flask-BS4>=5.1.3.0
Flask-Admin
Flask-Login
Flask-WTF
Flask-Uploads
Flask-Babel
flask-login-dictabase-blueprint
SQLAlchemy
sqlalchemy-mixins
SQLAlchemy-Defaults
WTForms-Alchemy
wtforms-validators
#ibm_db
psycopg2
#mysql-connector-python
#mysqldb-wrapper
#mariadb
#cx_Oracle
sqlacodegen
email_validator
